
body{
    margin: 0;
    padding: 0; 
    background-color: black;
}

#container{
    width: 400px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

input{
    flex-grow: 0.6;
    background-color:black;
    color: white;
    border: 0;
    outline: none;
    text-align: right;
    font-size: 50px;
}

#btn-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    flex-grow: 2;
    gap: 5px;
}

button{
    border-radius: 50%;
    font-size: 24px;
    font-weight: 800;
    background-color: rgb(49, 47, 44);
    color: white;
    border: 0;
    transition-duration: 300ms;
}

button:hover{
    background-color: wheat;
    cursor: pointer;
    border: none;
}
button:active{
    transform: scale(0.85);
}

.btn-yellow{
    background-color: rgb(210, 165, 69);
}
.btn-grey{
    background-color: grey; 
}

.zero{
    grid-column: span 2;
    border-radius: 38px;
}