*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 70%;
    width: 30%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
    background-color: rgb(59, 55, 51);
}
.container div{
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px;
    font-size: 2rem;
    background-image: linear-gradient(to bottom right,#61677A, #D8D9DA);
}

.container div:hover{
    opacity: 0.6;
    cursor: pointer;
}

/* .container div:focus{   diff btw active & focus click functionality
    
} */

.display{
        /* grid-column: span 3; */
    grid-column: 1 / 4;
}

.equals{
    grid-column: 3/5;
}

.divide{
    grid-column: 4/5;
    grid-row: 2/3;
}

.multiply{
    grid-row: 3/4;
    grid-column: 4/5;
}

.substract{
    grid-row: 4/5;
    grid-column: 4/5;
}

.container .display{
    background-image: none;
    background-color: rgb(249, 247, 245);
    font-size: 2.5rem;
    overflow: scroll;
}

@media screen and (max-width: 1500px) {
    .container{
    height: 90%;
    width: 80%;
    }
  }
@media screen and (max-width: 600px) {
    .container{
    height: 90%;
    width: 100%;
    }
  }