

<%- include('header'); -%>   

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quis officiis iusto necessitatibus mollitia! Explicabo sed culpa praesentium repellat unde animi odio itaque, expedita, repellendus, tempora asperiores nemo mollitia laboriosam!
Laborum corporis adipisci magni enim officiis sapiente sint sit soluta aperiam culpa iure ut ipsam ullam, sunt reiciendis quo veniam ipsum, quos neque. Quibusdam, molestiae eum. Facilis earum nam eum?</p>

<%- include('footer'); -%>